*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{background-color: #EDE9E9;}

main{width: 1348px;
height: 850px;
background-color: white;
margin-left: auto;
margin-right: auto;
margin-top: 100px;

}

header{width: 100%;
 height: 100px;}



input{width: 100%;
border: solid;
height: 100px;
text-align: center;
font-size: 40px;}



header svg{width: 64px;
height: 64px;
position: absolute;
top: 120px;}


.cardapio{ background-color: white;
    border: solid;
    width: 400px;
    height:410px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 50px;
 }

.cardapio img {width: 366px;
height: 190px;
border-radius: 30px;
margin-right: 15px;
margin-left: 15px;
margin-top: 15px;
font-size: 20px; }

main h1 {font-size: 40px;
margin-left: 55px;}

main h3,p{margin-left: 15px;}

.precos{display: flex;
    justify-items: center;
    align-items: center;
    gap: 40px;
    margin-top: 10px;

    }


.precoA{margin-left: 20px;}
.precoB{opacity: 50%;}

.barra{width: 140px;
height: 8px;
background-color: black;
position: relative;
bottom: 13%;
left: 38%;
opacity: 50%;}

#principal{display: flex;
justify-content: space-between;
width: 100%;
margin-left: 20px;
margin-top: 120px;
}

main a{text-decoration: none;
color: black;}
